<div class="container ">
  <table class="table text-center table-striped bg-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Number</th>
        <th scope="col">State</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Total Tax</th>
        <th scope="col">User</th>
        <th scope="col">Items#</th>
        <th scope="col">Placed/Created at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <% #FIXME_AB: link order number to show page -%>
          <td><%= link_to order.number, admin_order_path(order) %></td>
          <td><%= order.state %></td>
          <% #FIXME_AB: INR -%>
          <td><%= number_to_currency(order.total_amount, unit: '₹') %></td>
          <td><%= number_to_currency(order.total_tax, unit: '₹') %></td>
          <td><%= order.user.email %></td>
          <td><%= order.line_items_count %></td>
          <% #FIXME_AB: placed_at else created at -%>
          <td><%= order.placed_at&.to_s(:orders) || order.created_at.to_s(:orders) %></td>
          <td><%= link_to "EDIT STATUS", admin_order_path(order) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class="container text-center mt-3">
    <%= paginate orders %>
  </div>
</div>
