<div class="container">
  <%= render partial: 'shared/errors', locals:{ object: @current_order } %>
  <%@current_order = @current_order.valid? ? @current_order : Order.find(@current_order.id)%>
   <%= render partial: "orders/order", locals: { order: @current_order } %> 
   <h3>Mark As</h3>
    <%= form_with method: "get", local: true, url: update_state_admin_order_path(@current_order), class: "form-signup" do |form| %>
      <div class = "form-group">
      <%if !@current_order.delivered? %>
        <%= form.check_box :delivered, checked: @current_order.delivered? %>
        <i><%= form.label "Delivered" %></i>
      <%end%>

      <%if !@current_order.cancelled?%>
        <%= form.check_box :cancelled, checked: @current_order.cancelled?, class: "ml-5" %>
        <i><%= form.label "Cancelled" %></i>
      <%end%>
      </div>

      <div class = "form-group">
        <%= form.submit "UPDATE", class: "btn btn-primary mb-3" %>
      </div>
    <%end%>
</div>