<div class = "container shadow-lg p-3 mb-5 bg-white rounded">
<% if @live_deals.present? %>
    <% content_for :js do %>
      <%= javascript_pack_tag  'show_past_deals', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag  'deals_home_polling', 'data-turbolinks-track': 'reload' %>
    <%end%>
  <% end %>
  <div class = "cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class = "masthead mb-auto">
      <div class = "inner">
        <h1 class = "masthead-brand text-center"> Flash Sale Welcome !!! </h1>
      </div>
    </header>
    <main class = "inner cover" role = "main">
    <h3 class="cover-heading text-center">
      <% if @live_deals.present? %>
        <% deals = @live_deals %>
        LIVE DEALS
      <% else %>
        <% deals = @past_deals %>
        PAST DEALS
      <% end %>
    </h3>
    <div class="container bg-info border border-dark rounded" id="cart">
      <% if should_display_cart?(current_order) %>
        <%= render partial: 'orders/cart' %>
      <% end %>
    </div>
    <br>
    <div id="deals-home" data-url = <%= home_url%> data-deal_ids = "<%= deals.collect(&:id) %>">
      <%= render partial: "deals", locals: { deals: deals } %>
    </div>
    <% if @live_deals.present? && @past_deals.present? %>
      <div class="container text-center">
        <%= link_to "Show Past Deals", home_path, remote: true, class: "btn btn-outline-info mb-3" , id: "past-deals-btn",
          data: { past_deals: (render partial: "deals", locals: { deals: @past_deals }) }%>
      </div>
      <div id="past-deals-div">
      </div>
    <% end %>
    </main>
    <footer class = "mastfoot mt-auto">
      <div class = "inner text-center">
        <p>2020 </p>
      </div>
    </footer>
  </div>
</div>
