<div class="container text-center mt-3">
  <h4 class="text-center"> CART Of <%= current_order.user.name.capitalize %> </h4>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Tax</th>
        <th scope="col">Quantity#</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% count = 1 %>
      <% current_order.line_items.each do |line_item| %>
        <% if line_item.persisted? %>
          <tr>
            <td><%= count %></td>
            <td><%= line_item.deal.title %></td>
            <td><%= line_item.sale_price %></td>
            <td><%= line_item.taxed_price%></td>
            <td><%= line_item.quantity %></td>
            <td><%= link_to "Remove Deal", rem_from_cart_order_path(line_item),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "btn btn-danger" %></td>
          </tr>
          <% count +=1 %>
        <% end %>
      <%end%>
    </tbody>
  </table>
  <%= link_to "BUY NOW", buy_now_orders_path, class: "btn btn-success mb-3", data: { turbolinks: false } %>
</div>
