<div class="row">
  <div class="card col-md-12 shadow-lg border rounded">
    <div class="card-body">
      <h4 class="card-title">
        <%= order.number %>(<%= order.id %>)
        <span class='float-right text-uppercase'>
        <% if order.cancelled? || order.refunded? %>
          <span class='text-danger'><%= order.state %></span>
        <% else %>
          <span class='text-success'><%= order.state %></span>
        <% end %>
        </span>
      </h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= order.user.name %>(<%= order.user.email %>)</h6>
      <p class="card-text">
        <h3 class = 'mt-5'>Items:</h3>
        <table class="table text-center table-striped table-hover">
          <thead class = 'thead-dark'>
            <tr>
              <th scope="col">S.NO</th>
              <th scope="col">Name</th>
              <th scope="col">Original Price</th>
              <th scope="col">Discounted Price</th>
              <th scope="col">Quantity#</th>
              <th scope="col">Tax</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
          <% count = 1 %>
            <% order.line_items.each do |line_item| %>
              <tr>
                <td><%= count %></td>
                <td><%= line_item.deal.title %></td>
                <td><%= number_to_currency(line_item.price) %></td>
                <td><%= number_to_currency(line_item.sale_price) %></td>
                <td><%= line_item.quantity %></td>
                <td><%= number_to_currency(line_item.taxed_price) %></td>
                <td><%= number_to_currency(line_item.sub_total) %></td>
              </tr>
              <% count += 1 %>
            <%end%>
          </tbody>
        </table>
      </p>
      <div class="mt-5 float-right">
        <button type="button" class="btn btn-warning">
          Tax <span class="badge badge-light"><%= number_to_currency(order.total_tax) %></span>
        </button>
        <button type="button" class="btn btn-success">
          Total <span class="badge badge-light"><%= number_to_currency(order.total_amount) %></span>
        </button>
      </div>

    <div class="clearfix"></div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <b>Delivery Address</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= order.address.home_address %></li>
            <li class="list-group-item"><%= order.address.city %> - <%= order.address.pincode %></li>
            <li class="list-group-item"><%= order.address.state %>, <%= order.address.country %></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <b>Payment Info</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <b>History</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>

        </div>
    </div>
  </div>

</div>
