<div class = 'container'>
  <% content_for :js do %>
    <%= javascript_pack_tag  'order_form', 'data-turbolinks-track': 'reload' %>
  <%end%>
  <h3 class = "text-center">BUY NOW<h3>
  <br>
  <h4> Shipping Address </h4>
  <br>
  <% if current_user.addresses.count > 0 %>
    <h5> Choose from existsing Addresses </h5>

    <% current_user.addresses.each do |address| %>
      <div class = 'container border bg-light mb-3'>
        <p><%= address.home_address %></p>
        <p><%= address.city %></p>
        <p><%= address.state %></p>
        <p><%= address.pincode %></p>
        <p><%= address.country %></p>
        <%= form_with method: :get, url: select_address_order_path(address), class: "form-signup", local: true do |form| %>
          <div class = "form-group">
            <%= form.check_box :default %>
            <i><%= form.label "Make it as default" %></i>
          </div>
          <div class = "form-group">
          <%= form.submit "Deliver to this address", class: "btn btn-primary mb-3" %>
              <%# class: 'btn btn-primary ', data: { turbolinks: false } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <br>
  <div class="container">
    <h5> Create a new Address </h5>
    <% address = @address || current_user.addresses.build  %>
    <%= form_for address, class: "form-signin" do |form| %>
      <% if @address.nil? %>
        <%= link_to_add_fields "Create New adress", form, :addresses %>
      <%else%>
        <%= render partial: "orders/address_fields", locals: { f: form, address: address }  %>
      <% end %>
    <% end %>
  </div>
</div>
