<h2> Hi <%= @user.name.capitalize %></h2>

<h3>We are sorry to inform you that your order <%= @order.number %> got cancelled </h3>
<h3>Please follow the below link to learn more: </h3>
<br>
<%= link_to nil, orders_url %>
<br>
<h3> The refund for the same order has been made, please feel free to contact us if you have any queries.</h3> 
<br>
<p>Order Notes: </p>
<% @order_notes.each do |order_note| %>
  <%= order_note.note %> | <%= order_note.created_at.to_date %>
  <br>
<% end %>
<br>
<h4>Thanks,</h4>
<h4>The Flash Team</h4>