<div class = "container">
  <% content_for :js do %>
    <%= javascript_pack_tag  'deal_form_images', 'data-turbolinks-track': 'reload' %>
  <% end %>
<div class = 'row container'>
  <%= form_with(model: deal, url: deal_path, local: true, class: "form-signin", id: "deals-form") do |form| %>
    <%= render partial: 'shared/errors', locals:{ object: deal } %>

    <h4> Enter Deal Details </h4>

    <div class = "form-group">
      <%= form.label :title, "Title:" %>
      <%= form.text_field :title, placeholder: "Title", class: 'form-control' %>
    </div>

    <div class = "form-group">
      <%= form.label :description, "Description:" %>
      <%= form.text_area :description, placeholder: "Description", class: 'form-control', rows: 5, cols: 30  %>
    </div>

    <div class = "form-group">
      <%= form.label :price, "Price:" %>
      <%= form.text_field :price, placeholder: "Price", class: 'form-control' %>
    </div>

    <div class = "form-group">
      <%= form.label :discount_price, "Discount:" %>
      <%= form.text_field :discount_price, placeholder: "Discount_price", class: 'form-control' %>
    </div>

    <div class = "form-group">
      <%= form.label :quantity, "Quantity:" %>
      <%= form.text_field :quantity, placeholder: "Quantity", class: 'form-control' %>
    </div>

    <div class = "form-group">
      <%= form.label :tax, "Tax (%):" %>
      <%= form.text_field :tax, placeholder: "Tax (in %)", class: 'form-control' %>
    </div>

    <% if deal.images.exists? %>
      <div class = "form-group">
        <%= form.label :images, "Images" %>
        <br>
        <% deal.images.each do |image| %>
          <div class="container text-center border border-primary rounded ">
            <%= image_tag(url_for(image), class: "rounded mx-auto img-thumbnail thumbnail mt-3") %>
            <h4><%= image.blob.filename %> </h4>
            <br>
            <%= link_to 'Remove', delete_image_attachment_admin_deal_url(image),
                          method: :delete,
                          data: { confirm: "Are you sure?\n(this will permanently delete the image)" },
                          remote: :true, class: "btn btn-outline-danger mb-3" %>
          </div>
          <br>
        <%end%>
      </div>
    <%end%>

    <%= render 'image_fields', f: form %>
    <%= link_to_add_fields "Add more", form, "images" %>

    <div class = "form-group">
    <br>
      <%= form.submit :SAVE, class: "btn btn-primary" %>
      <%= link_to :CANCEL, admin_deals_path,  class: "btn btn-primary"  %>
    </div></div>

  <% end %>
</div>
