<div class = "container text-right col-sm">
  <%= form_with method: :get, local: true, url: admin_deals_path, class: "form-signup" do %>
    <div class = "form-group">
      <%= select(:sort, :sort_by, options_for_select([['created_at', 'created_at'], ['published_at', 'published_at']],selected: params[:sort] ? params[:sort][:sort_by] : 'published_at'), {}, { onchange: 'this.form.submit();'}) %>
      <%= select(:order, :order_by, options_for_select([['asc', 'ASC'], ['desc', 'DESC']], selected: params[:order] ? params[:order][:order_by] : 'ASC'), {}, { onchange: 'this.form.submit();'}) %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @deals.to_enum.with_index(1).each do |deal, index| %>

      <%if index % 3 == 0%>
        </div>
        <div class="row">
      <% end%>

      <div class="col-md-6 d-flex align-items-stretch col-lg-6">
        <div class = "card text-white bg-dark mb-3 " style="width: 80%;">
          <div class = "card-header text-center bg-dark">
            <%if deal.images.attached? %>
              <% image = deal.presenter.cover_image %>
              <div class="col text-center">
                <%= image_tag( url_for(image), class: "rounded img-thumbnail thumbnail" ) %>
              </div>
            <% end %>
          </div>


            <div class = "card-body">
              <h5 class="card-title"><%= deal.title %></h5>
              <p> <strong>Price:</strong>
                <%= number_to_currency(deal.price) %>
              </p>
              <p> <strong>Publishable:</strong>
                <%= deal.presenter.publish_status %>
              </p>

              <table class="table text-white">
                <tbody>
                  <tr>
                    <td> <%= link_to "EDIT", edit_admin_deal_path(deal) %> </td>
                    <td> <%= link_to "SHOW", admin_deal_path(deal) %> </td>
                    <td> <%= link_to "DESTROY", admin_deal_path(deal), method: :delete,
                                     data: { confirm: "Are you sure to delete deal with title #{deal.title}?" } %> </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <br>
        </div>
      </div>
    <% end %>

    <div class="container text-center mt-3">
      <%= paginate @deals %>
    </div>
  </div>
</div>
