<div class="container">
  <% @deals.each do |deal| %>
  <div class="row">
    <div class="col">
      <% image = deal.cover_image if deal.images.attached? %>
      <%= image_tag( url_for(image), class: "img-thumbnail" ) %>
      <p>
        <strong>Price:</strong>
        <%= deal.price %>
      </p> 
      <p>
        <strong>Publishable:</strong>
        <%= deal.published_at ? deal.published_at.to_date : false %>
      </p> 
      <br>
    </div>
  </div> 
  <% end %>
  <%= paginate @deals %>
  <%= link_to "Create New Deal", new_admin_deal_path %>
</div>
